# Email учетные данные
EMAIL = your.email@gmail.com
PASSWORD = your_email_password

# SMTP настройки (для отправки)
SMTP_SERVER = smtp.gmail.com
SMTP_PORT = 587

# IMAP настройки (для получения)
IMAP_SERVER = imap.gmail.com
IMAP_PORT = 993
IMAP_SSL = true

# Папка для сообщений мессенджера (должна существовать, должен быть фильтр, 
# который все входящие письма будет перекладывать в эту папку)
IMAP_FOLDER = Messenger

# Настройки мессенджера
MESSENGER_SUBJECT_PREFIX = bd6d6648f39621d16d0548f1a7c582ea
POLL_INTERVAL = 30
IMAP_IDLE = true
IMAP_KEEPALIVE = 20
